<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Car2Kin</title>
</head>
<body>
<header>
  <h1>Car2Kin</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/signup">Connexion</a></li>
    </ul>
  </nav>
</header>