<%- include('./shared/Header.ejs') %>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque, vel ab nulla laudantium quidem non suscipit rem ratione, expedita ex, similique iure quo velit magni numquam. Repellat iusto voluptatum cupiditate.</p>
  <%- include('./shared/Footer.ejs') %>

